body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}





.stage-1.wrapper {
  width: 100%;
  height: 100%;
}
.stage-1.wrapper .container {
  width: 100%;
  height: 14.285%;
}
.stage-1 .container .square {
  background-color: black;
  width: 14.285%;
  height: 100%;
  cursor: pointer;

  transition: all 0.2s;
}





.stage-2.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.stage-2.wrapper > * {
  width: 100%;
  height: 100%;
}
.stage-2.wrapper .container {
  width: 100%;
  height: 14.285%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stage-2 .container .square {
  background-color: black;
  width: 80%;
  box-sizing: border-box;
  height: 80%;
  cursor: pointer;
  transition: all 0.2s;
}
.stage-2 .container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}





.stage-1 .square-2 {
  margin-left: 14.285714285714286%;
}
.stage-1 .square-3 {
  margin-left: 28.571428571428573%;
}
.stage-1 .square-4 {
  margin-left: 42.85714285714286%;
}
.stage-1 .square-5 {
  margin-left: 57.142857142857146%;
}
.stage-1 .square-6 {
  margin-left: 71.42857142857143%;
}
.stage-1 .square-7 {
  margin-left: 85.71428571428572%;
}





.stage-2 .square-1 {
  height: 100%;
  width: 100%;
}
.stage-2 .square-2 {
  height: 85.71428571428572% !important;
  width: 100%;
}
.stage-2 .square-3 {
  height: 71.42857142857143% !important;
  width: 100%;
}
.stage-2 .square-4 {
  height: 57.142857142857146% !important;
  width: 100%;
}
.stage-2 .square-5 {
  height: 42.85714285714286% !important;
  width: 100%;
}
.stage-2 .square-6 {
  height: 28.571428571428573% !important;
  width: 100%;
}
.stage-2 .square-7 {
  height: 14.285714285714286% !important;
  width: 100%;
}






.hide {
  opacity: 0;
  pointer-events: none;
}
.hide-deep {
  display: none !important;
}
.circle {
  border-radius: 50%;
}
